* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: small;
    background: rgb(29, 29, 88);
    color: white;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
    background-color: rgb(0, 0, 0);
}

footer{
    justify-content: center;
}

main {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    width: 15rem;
    border-radius: 7px;
    border: 1px solid;
}
