* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: small;
    color: rgb(255, 255, 255);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background-image: url("https://i.ibb.co/d51QBgt/cool-pattern.png");
    ;
}

header, footer {
    display: flex;
    align-items: center;
    height: 3.125rem;
    background-color: rgb(0, 0, 0);
    color: white;
}

header {
    padding-top: 5px;
    height: auto;
    justify-content: space-between;
    padding-left: 16px;
}

footer{
    justify-content: center;
}

main {
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;

}

#front {
    position: absolute;
    bottom: 46px;
}

article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    width: 15rem;
    border-radius: 7px;
}

h2, #release {
    display: flex;
    justify-content: center;

}

p {
    display: flex;
    margin: 5px;
}

#poster {
    justify-content: center;
}